
body, html {
    height: 100%;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.auth-wrapper {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.auth-left {
    flex: 1.2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-color: #f8f9fa;
}

.auth-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 900px;
    background: white;
    padding: 3rem 2.5rem 4rem 2.5rem;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
    min-height: 550px;
    margin-bottom: 1.5rem;
    font-size: 0.875rem;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.logo-img {
    height: 40px;
}

.logo-text {
    font-weight: 600;
    font-size: 1.2rem;
    color: #000;
    line-height: 1;
}

.auth-form h4 {
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: center;
}

.auth-form p {
    text-align: center;
    color: #6c757d;
    margin-bottom: 2rem;
}

.auth-form .mb-3 {
    margin-bottom: 2.25rem;
}

.form-label {
    font-weight: 500;
}

.input-group .btn-toggle {
    background: transparent;
    border: none;
}

.auth-right {
    flex: 3;
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.blue-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 255, 0.3);
    pointer-events: none;
}

.auth-right img {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@media (min-width: 992px) {
    .auth-right {
        display: block;
    }
}
